@keyframes border-top {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes border-right {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}

@keyframes border-bottom {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes border-left {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}

.animate-border-top {
  animation: border-top 0.50s ease-in-out forwards;
}

.animate-border-right {
  animation: border-right 0.50s ease-in-out 0.50s forwards;
}

.animate-border-bottom {
  animation: border-bottom 0.50s ease-in-out 1.5s forwards;
}

.animate-border-left {
  animation: border-left 0.50s ease-in-out 2.25s forwards;
}

